<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/dvdrzlpz/image/upload/v1588954793/logo_tejado_con_llama_final_1_ea7ewf.jpg" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <div class="d-flex align-items-center">
      <li class="nav-item">
        <%= link_to "📞 91 677 31 99 | 608 828 918", contactos_path, class: "telef" %>
      </li>
      <li class="nav-item">
        <%= link_to "Contáctanos", contactos_path, class: "nav-link" %>
      </li>
      </div>
    </ul>
  </div>
</div>
