<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1542013936693-884638332954?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80');">
  <div class="container">
    <h1>Somos instaladores de gas y calefacción autorizados por el <strong>Ministerio de Industria de la Comunidad de Madrid con más de 20 años de experiencia profesional.</strong></h1>
    <p>Empresa instaladora autorizada nº 202045 con carné I.G. B 1865.</p>
    <br>
    <br>
    <%= link_to 'Contáctanos e infórmate', contacts_path, class: 'btn-banner' %>
  </div>
</div>

<h1 class="text-center">Servicios</h1>
<div class="row m-5 justify-content-center">
  <div class="col-lg-3 col-md-12 col-sm-12 text-center card m-3">
    <img src="http://ongasmadrid.com/wp-content/uploads/2015/04/icon-gas" alt="">
    <i class="fas fa-burn icon-custom"></i>
    <h2>Gas</h2>
    <ul style="list-style: none">
      <div class="custom-servicios">
        <li>Instalaciones de gas natural, butano y propano</li>
        <li>Instalaciones colectivas, individuales, comerciales e industriales</li>
        <li>Certificaciones e inspecciones de gas</li>
        <li>Correcciones y adecuaciones de instalaciones</li>
      </div>
    </ul>
  </div>

  <div class="col-lg-3 col-md-12 col-sm-12 text-center card m-3">
    <i class="fas fa-temperature-high icon-custom"></i>
    <h2>Calefacción</h2>
    <ul style="list-style: none">
      <div class="custom-servicios">
        <li>Instalaciones y reparaciones de calefacción</li>
        <li>Individuales y colectivas</li>
        <li>Suelos radiantes</li>
        <li>Sustitución de calderas, calentadores, termos, acumuladores y radiadores</li>
        <li>Calefacciones de gasoil y otros combustibles</li>
      </div>
    </ul>
  </div>

  <div class="col-lg-3 col-md-12 col-sm-12 text-center card m-3">
    <i class="fas fa-tools icon-custom"></i>
    <h2>Fontanería</h2>
    <ul style="list-style: none">
      <div class="custom-servicios">
        <li>Instalaciones individuales y comunes</li>
        <li>Reformas de cocinas y baños</li>
        <li>Generales para agua fría y caliente</li>
        <li>Bajantes generales</li>
        <li>Trabajamos todo tipo de materiales</li>
        <br>
        <br>
      </div>
    </ul>
  </div>
</div>
        <a class="mas-info" href="#">Más información</a>

<div class="conteiner-text m-5 card">

  Ofrecemos servicios de calidad con asesoramiento personalizado adecuándonos a las necesidades particulares de cada cliente.</p>
  <ul>
    <li>Presupuestos sin compromiso</li>
    <li>Más de 20 años de experiencia profesional.</li>
    <li>Rapidez y compromiso.</li>
    <li>Trabajamos en toda la Comunidad de Madrid, Toledo y Guadalajara</li>
  </ul>
</div>
  <div id="carouselExampleSlidesOnly" class="carousel slide m-5" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="https://images.pexels.com/photos/1910472/pexels-photo-1910472.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="d-block w-100 carrusel-custom" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://images.pexels.com/photos/534179/pexels-photo-534179.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="d-block w-100 carrusel-custom" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1521783593447-5702b9bfd267?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2842&q=80" class="d-block w-100 carrusel-custom" alt="...">
      </div>
    </div>
  </div>
<div class="conteiner-text m-5 card">
  <p>Comenzamos a trabajar en este sector a principios de los 90 por lo que conocemos muy bien toda la normativa actual relativa al gas para que las instalaciones se completen con éxito y la compañía distribuidora ponga su contador, de esta forma usted podrá comenzar a beneficiarse de las ventajas de tener gas natural en su casa. <br>

  Le orientamos en el tipo de caldera que más se adecúa a las necesidades de su hogar y por supuesto, que tenga el menor consumo posible. Se trata de ahorrar energía y dinero con el menor coste. Un cliente satisfecho es nuestra mejor publicidad y una garantía de continuidad. <br>

  En todos estos años hemos hecho todo tipo de instalaciones de gas y calefacción. Hemos construido desde cero salas de calderas o las hemos reformado en su totalidad. Hemos hecho instalaciones individuales y también en comunidades y locales. <br>

  Hemos hecho infinidad de reformas de baños y cocinas. También hemos instalado todo tipo de aparatos desde los más tradicionales a los más modernos o novedosos. Conocemos e instalamos todo tipo de materiales en fontanería y calefacción y sabemos qué funcionará mejor en cada caso.
</div>

