.navbar-lewagon {
  justify-content: space-between;
  background: white;
  overflow: hidden;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  margin-left: 6vh;
}

.navbar-lewagon .navbar-brand img {
    width: 200px;
    margin: -11px;
}

.telef {
  background-color: #ffbfa8;
  border-radius: 5px;
      font-size: 3vh;
      color: red;
}

