.conteiner-text {
  font-family: 'Baloo Tammudu 2', cursive;
}

h1 h2 {
  font-family: 'Arvo', serif;
}

p li {
  font-family: 'Baloo Tammudu 2', cursive;
  font-size: 3vh;
}

a {
  font-size: 3vh;
  color: #D94453;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.mas-info {
  background-color: #ffbfa8;
  border-radius: 5px;
      font-size: 3vh;
      color: red;
      margin: auto;
      padding: 2vh;
}
